<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recordatorios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list class="bg-pink-50 rounded-lg shadow-lg ion-padding-content mb-20">
    <ion-item
      *ngFor="let recordatorio of recordatorios"
      lines="full"
      detail="false"
    >
      <ion-label>
        <h2 class="mt-2">{{ recordatorio.descripcion }}</h2>
        <p class="mt-4">📅 {{ recordatorio.fecha | date: 'medium' }}</p>
        <ion-badge
          mode="ios"
          class="p-2"
          [color]="getColor(recordatorio.prioridad)"
          >Prioridad: {{ recordatorio.prioridad | titlecase }}
        </ion-badge>
      </ion-label>
      <ion-col size="2" class="ion-text-right">
        <ion-button class="custom-green !h-8 !w-8 !min-w-0 !p-0 !rounded-none">
          <ion-icon
            name="create-outline"
            slot="icon-only"
            class="!text-sm"
          ></ion-icon
        ></ion-button>
        <ion-button class="custom-red !h-8 !w-8 !min-w-0 !p-0 !rounded-none">
          <ion-icon
            name="trash-outline"
            slot="icon-only"
            class="!text-sm"
          ></ion-icon
        ></ion-button>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
