<ion-content [fullscreen]="true">
  <ion-grid class="h-full ion-padding">
    <ion-row
      class="ion-justify-content-center ion-align-items-center w-full h-full"
    >
      <!-- Tarjeta de Login -->
      <ion-col
        size="12"
        size-md="6"
        size-lg="4"
        class="border rounded-2xl bg-pink-50 ion-padding space-y-4 bg-opacity-50 shadow-lg"
      >
        <!-- Título agregado -->
        <div class="text-center mb-4">
          <h1 class="text-2xl font-serif">Recuperar contraseña</h1>
          <p class="text-sm mt-1" color="primary">
            Ingresa tu correo electrónico para recuperar tu contraseña
          </p>
        </div>

        <!-- Campo Email con ícono -->
        <form [formGroup]="resetUsuario" (ngSubmit)="recuperarClave()">
          <ion-item
            class="ion-no-padding ion-margin-bottom border rounded-xl"
            lines="none"
          >
            <ion-icon
              slot="start"
              name="mail-outline"
              class="text-xl ml-2"
              color="primary"
            ></ion-icon>
            <ion-input
              type="email"
              placeholder="user@gmail.com"
              formControlName="email"
            ></ion-input>
          </ion-item>


          <!-- Botón Login -->
          <ion-button
            type="submit"
            [disabled]="resetUsuario.invalid"
            expand="block"
            class="custom-pink"
          >
            Enviar
          </ion-button>
          <!-- Botón Volver al login -->
          <ion-button fill="outline" expand="block" routerLink="/login">
            Volver al login
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

