ion-content {
  --background: url('/assets/icon/fondo.jpg') no-repeat center center / cover;

  //--background: linear-gradient(90deg, rgba(255,142,205,1) 0%, rgb(218, 111, 169) 35%, rgba(242,192,220,1) 100%);
}
ion-button.custom-pink {
  --background: #ec4899;
  --background-hover: #db2777;
  --color: white;
}

